---
import Layout from '../layouts/Layout.astro';
import PoemGenerator from '../components/PoemGenerator.tsx'
---

<Layout title="Poem Generator">
	<h1 class="text-center my-5 text-3xl text-gray-300">Poem Generator</h1>
	<PoemGenerator client:load />
</Layout>